if SHIELD_ROBIN_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "Robin Split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ROBIN_SPLIT_LEFT || SHIELD_ROBIN_SPLIT_RIGHT

config ZMK_SPLIT
    default y

endif
